<div class="row">
<div class="col-xs-12">
  <p>Add New Server</p>
  <label>Server Name</label><!--[(ngModel)]="newServerName"-->
  <input type="text" class="form-control"

  #nameInput>
  <label>Server Content</label>
  <input type="text" class="form-control" [(ngModel)]="newServerContent">
  <br>
  <button class="btn btn-primary"
          (click)="onAddServer(nameInput)">Add Server
  </button>
  <button class="btn btn-primary"
          (click)="onAddBluePrint(nameInput)">Add BluePrint
  </button>
</div>
</div>
